form {
    display: inline-block;
    margin-right: 2rem;
    margin-bottom: 2rem;
}

section {
    margin-bottom: 2rem;
}

#section-verzeichnisse{
    display: block;
    width: 40%;
    padding: 2rem;
}

#section-löschen{
    display: block;
    width: 40%;
    padding: 2rem;
}

.liste {
    display: inline-block;
    margin-right: 2rem;
}