<!DOCTYPE html>
<html lang="de" xmlns:th="http://www.w3.org/1999/xhtml">

    <head>
        <meta charset="utf-8">
        <title>Sync-Tool</title>
        <link rel="stylesheet" type="text/css" href="/static/styles.css">
    </head>
    <body>

    <h1>Sync-Tool</h1>

    <form action="/indexQuellpfad" method="post">
        <p>
            <label id="quellLabel">Quellpfad hinzufügen</label>
        </p>
        <input type="text" id="quellpfad" name="Quellpfad">
        <input type="submit" value="Hinzufügen">
    </form>

    <form action="/indexZielpfad" method="post">
        <p>
            <label id="zielLabel">Zielpfad hinzufügen</label>
        </p>
        <input type="text" id="zielpfad" name="Zielpfad">
        <input type="submit" value="Hinzufügen">
    </form>
    <br>
    <br>
    <br>
    <br>

    <div>
        <label>Alle Quellverzeichnisse:</label>
        <ul th:each="item : ${quellen}">
            <li th:text="${item}"></li>
        </ul>
    </div>

    <br>
    <br>

    <div>
        <label>Alle Zielverzeichnisse:</label>
        <ul th:each="item : ${ziele}">
            <li th:text="${item}"></li>
        </ul>
    </div>

    <br>
    <br>

    <div>
        <label>Kopierte Files:</label>
        <ul th:each="item : ${lastFile}">
            <li th:text="${item}"></li>
        </ul>
    </div>


    <label th:text="${fehler}"></label>

    </body>

</html>